.section-benefits__title {
    margin-top: 0;
    display: none;
}

/* Переваги */
.benefits {
    padding-bottom: 30px;
    margin: 0;
    

    @media screen and (min-width:767.08px) {
        display: flex;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width:1199.08px) {
        justify-content: space-between;
    }
    // display: flex;
    // box-sizing: border-box;
    // padding-left: 0;
    // gap: 30px;
}
.benefits__list {
margin-bottom: 30px;
width: 450px;

@media screen and (min-width:767.08px) {
    width: 354px;
    margin-bottom: 0;
}

}

.benefits__title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
    margin-bottom: 10px;
    margin-left: 155px;

    @media screen and (min-width:767.08px) {
        width: 354px;
        margin-left: 0;
    }
}

.benefits__item {
    margin-top: 0;
    margin-right: 0;

    // width: 270px;
    font-style: regular;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);

    @media screen and (min-width:767.08px) {
        width: 354px;
        margin-bottom: 0;
    }
}

.benefits__icon {
    fill: #212121;
}

.icon-box {
    display: flex;
    width: 450px;
    height: 120px;
    align-items: center;
    justify-content: center;
    border: #757575;
    background-color: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;

    @media screen and (min-width:767.08px) {
        width: 354px;
    }
}