.section-team {

    background-color: var(--team-background);

    @media screen and (min-width: 1199.08px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.team {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    gap: 30px;

    & h3 {
        margin-top: 30px;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 767.08px) {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    @media screen and (min-width: 1199.08px) {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.team__card {
    width: 450px;
    padding-bottom: 24px;

    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: var(--background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 767.08px) {
        width: 354px;
    }

    @media screen and (min-width: 1199.08px) {
        width: 270px;
        padding-bottom: 30px;
    }

}

.team__pos {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.team__name {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.team-socials {
    display: flex;
    padding-left: 122px;
    padding-right: 122px;
    margin-top: 16px;
    justify-content: space-evenly;

    @media screen and (min-width: 767.08px) {
        padding-left: 74px;
        padding-right: 74px;
    }

    @media screen and (min-width: 1199.08px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.team-socials__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;

    background-color: #fff;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team-socials__icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    .team-socials__link:hover &,
    .team-socials__link:focus & {
        fill: #ffffff;
    }
}